html {
  font-size: 20px;
}
body {
  font-family: "Arial","Meiryo", sans-serif;
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  text-shadow: 1px 1px 2px;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-decoration:underline 3px rgb(115, 115, 114);
}

.skyblue{
  color: skyblue
}

.pink{
  color: rgb(255, 192, 203)
}


h2, #basic, .blue {
  color: skyblue;
}

.rgb{
  color: rgb(255, 192, 203)
}

.pink {
  color: rgb(255, 192, 203);
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}
#basic p span {
  font-weight: bold;
}
p{
  color: black
}